body{
    background-color:darkslategrey;
    font-family: Arial, sans-serif;
    
}

.ex1,.ex2,.ex3,.ex4,.ex5,.ex6,.ex7,.ex8,.ex9,.ex10{
    font-size: 20px;
    font-weight: bold;
    color:wheat;
    padding: 5px 0px 20px 40px;
    box-shadow: 0 0 5px black;
    border-radius: 15px;
    display:grid;
    justify-content: left;
    margin: 50px;
    background-color:rgb(47, 76, 78);
    text-shadow: 0 0 3px black;
}
h2{
    color: orange;
    text-shadow: 1px 1px 2px black;
}